*{ box-sizing: border-box;}

.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

header, footer{
	background-color: #2A5E88;
}

h1 a{
	color: white;
	font-family: Montserrat;
	margin-left:1rem;
	text-decoration: none;
}

h1 span{
	color: #87CEEB;
}

h1 a:hover{
	color:#87CEEB;
}

header img{
	margin: 1rem 0px 1rem 0px;
}
.flex-header{
	display:flex;
	justify-content: space-between;	
	align-items: center;
}

.float-right{
	float: right;
}

nav ul li {
	display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color:white;
	font-family: Montserrat;
	margin: 1rem;
}

nav ul li a:hover{
	text-decoration: none;
	color:#87CEEB;
	font-family: Montserrat;
	margin: 1rem;
}

header video{
	width: 100%;
}

footer p, footer address{
	font-family: Montserrat;
	color: white;
	font-style: none;
}

footer div{
	padding: 1rem;
}

.flex-center{
	display: flex;
	align-items: center;
}

.flex-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer a{
	text-decoration: none;
	font-family: Montserrat;
	color:white
}

address{
	font-style: normal;
}

.grid-accueil{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
	padding: 3rem;
	background-color: white;
	list-style-type: none;
}

.grid-accueil p{
	font-family: Hind;
	color: white;
	font-size: 3rem;
	background-color: #2A5E88;
	padding: 10rem 1rem;
	text-align: center;
	margin: 0px;
}

.grid-accueil img, .grid-accueil video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.grid-area-2x2{
	grid-column: span 2;
	grid-row: span 2; 
}

.montagnes{
	grid-column: 3/5;
	grid-row: 1/3;
}

.grid-area-2x1{
	grid-column: span 2;
}

.grid-area-1x2{
	grid-row: span 2;
}

.red{
	background-color: darkred;
	grid-column: 1/2;
	grid-row: 3/4
}

.main-index{
	background-color: #87CEEB;
}
.show-on-mobile{
	display: none !important; 
}

@media screen and (max-width: 960px){

	.show-on-mobile{
		display: block !important;
	}

	.hide-on-mobile{
		display: none !important;
	}
}

@media screen and (min-width: 1200px){
	

}

@media screen and (min-width: 960px) and (max-width: 1200px){
	

}

@media screen and (max-width: 570px){
	
		
}


